# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Java
*.class
*.log
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

# Secrets
*.env
!src/test/resources/application-test.yml
